/* Style the video: 100% width and height to cover the entire window */
#myvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.content {
    position: fixed;
    bottom: 0;
    width: auto;
}

img {
    display: inline;
    margin-bottom: 40px;
    width: 5%;
    padding: 5px;
    border-radius: 50%;

}




h1 {

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    height: 100vh;
    font-family: 'Concert One', cursive;

    text-align: center;
    background-image: url("images/red.png");
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: moverbar 2.5s linear infinite;
    /* -webkit-text-stroke: 1px rgb(0, 0, 0); */

}



.image-container {

    width: 100%;
}

.image-container>img {
    animation: moveImage 5s linear infinite;
    transform: translateX(-800px);
}

@keyframes moverbar {
    0% {
        background-position: 0%;
    }

    ;

    100% {
        background-position: 100% 50%
    }

    ;


}

@keyframes moveImage {

    from {
        transform: translatex(500px);
    }



    ;


}







/* done ✔ */
/*Mobile View*/
@media only screen and (max-width:360px) {


    .content h1 {
        font-size: 34px;
        margin-bottom: -175px;



    }

    #myvideo {
        position: fixed;

        min-width: 100%;
        min-height: 100%;
    }

    img {
        width: 10%;
    }

    .image-container>img {
        animation: moveImage 3s linear infinite;
        transform: translateX(400px);
    }

    @keyframes moveImage {

        from {
            transform: translatex(-250px);
        }



        ;


    }

}